* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins';
    /* background-color: #F2F6FC; */
}
.page {
  width: 100%;
  margin: 0px auto;
  
}
.greeting{
    text-align: center;
    font-size: 22px;    
    margin: 0px auto 20px;
}

.button-wrapper {
  width: 50%;
  margin: auto;
}

.page div {
  width: 50%;
}


.button a{
    font-size: 20px;
    letter-spacing: 1.5px;
    text-decoration: none;
    display: block;
    /* background-color: #FCCA72; */
    /* background-color: #FF0033; */
    background-color: #F9AC05;
    color: #fff;
    padding: 15px;
    border: 3px solid #000;
    border-radius: 22px;
    width: 200px;
    margin: 0px auto 20px;
    text-align: center;
    box-shadow: 2px 2px 2px gray;
}

.button a:link {
    color: #000;
    text-decoration: none;
  }
.button a:visited {
    color: #000;
  }
.button a:active,
button a:visited:active {
    background-color: red;
  }
.button a:hover,
button a:visited:hover{
      /* background-color: #F19603; #F79D02; */
      background-color: black;
      color: #fff;
  }

.button {
  float: left;  
}

/* @media screen and (max-width: 800px) {
  .page div {
    width: auto;
  }
  .button.secondary {
    float: none;

  }
} */
